body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

.wrapper {
  background: gray;
  max-width: 80%;
  margin: auto;
  padding: 1.5em;
  display: grid;
  justify-content: center;
  grid-template-areas: 
    "header"
    "section"
    "footer"
}

header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  grid-area: header;
  display: grid;
  justify-content: center;
}

.personal {
  margin-bottom: 1em;
  display: grid;
  justify-content: center;
}

.main-img {
  padding: .5em;
  margin: auto;
}

.socials {
  display: flex;
  justify-content: center;
}

.icon {
  padding: .3em;
  width: 2.5em;
}

.name {
  letter-spacing: -0.03em;
  font-size: 3em;
  font-weight: bold;
}

section {
  grid-area: section;
  margin-top: 1em;
}

footer {
  margin-top: 2em;
  grid-area: footer;
  display: grid;
  justify-content: center;
}


@media (min-width: 600px) {
  
  /* .wrapper {
    margin: 1.5em;
  } */

}

