body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  background: 	#f9f9f9;
  color: #2e2e2b;
}

.wrapper {
  max-width: 80%;
  margin: auto;
  padding: 1.5em;
  display: grid;
  justify-content: center;
  grid-template-areas: 
    "header"
    "section"
    "footer"
}

header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  grid-area: header;
  display: grid;
  justify-content: center;
}

.personal {
  margin-bottom: 1em;
  text-align: center;
}

.main-img {
  padding: .5em;
  margin: auto;
}

.socials {
  display: flex;
  justify-content: center;
}

.icon {
  padding: .6em;
  width: 2.5em;
  color: #555555;
}

.icon:hover {
  border-bottom: 2px solid #555555;
  padding: .4em;
  width: 2.7em;
}

.name {
  font-size: 3em;
  font-weight: bold;
}

section {
  grid-area: section;
  margin-top: 1em;
}

footer {
  text-align: center;
  margin-top: 2em;
  grid-area: footer;
  display: grid;
  justify-content: center;
}

footer p {
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 1.3em;
}

@media (min-width: 600px) {
  
  /* .wrapper {
    margin: 1.5em;
  } */

}

